body {
  background: lightblue;
  background: -webkit-linear-gradient(to right, cornflowerblue, lightsteelblue);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, lightblue, lightsteelblue);
}
div.ex1 {
  background-color: lightcyan;
  overflow-x: auto;
}

@media screen and (max-width: 500px) {
     table {
       display: block;
       overflow-x: auto;
     }
}