{% extends "layout.html" %}
{% block body %}
    <h2>Manejador de CSV</h2>
    <!-- Button trigger modal -->

    <div class="col align-self-end">
        <a href="/index"><input type="submit" class="btn btn-primary"  type="button" class="btn btn-primary" value="Exportar"></a>
        </button>
    </div>
    <div class="ex1">
        {{ tasks['data']|safe }}
    </div>



    <script>

        $('#exampleModal').on('shown.bs.modal', function () {
        $('#exampleModal').focus()
    })

        $('#exampleModal1').on('shown.bs.modal', function () {
            $('#exampleModal1').focus()
        })
    </script>

{% endblock %}