
{% extends "add_contact.html" %}
{% block body %}
    <h1>Usuarios</h1>
    <div class="row table-responsive">
        <div class="col-md-7">
            <table id="example" class="table table-striped table-hover table-bordered table-sm">
                <thead>
                <tr>
                    {% for i in tasks['columns'] %}
                        <th>{{i}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for i in range(tasks['task']|length) %}
                    <tr>
                        {% for j in tasks['task'][i] %}
                            <td>{{j}}</td>
                        {% endfor %}
                        {% for p in tasks['permission'][i] %}
                          {% if p == 1%}
                            <td>Autorizado</td>
                          {% else %}
                            <td>No autorizado</td>
                          {% endif %}
                        {% endfor %}  
                        <td>
                            {% if tasks['permission'][0][1] == 1 %}
                            <a href="/update/{{tasks['table']}}/{{tasks['task'][i][0]}}" class="btn btn-secondary">edit</a>
                            {% endif %}
                            
                            {% if tasks['permissions'][0][2] == 1 %}
                            
                            <a href="/delete/{{tasks['table']}}/{{tasks['task'][i][0]}}" class="btn btn-danger btn-delete">delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-md-12 text-center">
                <ul class="pagination pagination-lg pager" id="developer_page"></ul>
            </div>
            {% if tasks['permissions'][0][0] == 1 %}
            <a href="/create/{{tasks['table']}}" class="btn btn-primary">+</a>
            {% endif %}
        </div>
    </div>
    </div>
    <script>
    $(document).ready(function() {
    $('#example').DataTable();
    console.log("Hola");
} );
    </script>

{% endblock %}
