
{% extends "add_contact.html" %}
{% block body %}
    <h1>CRUD</h1>
    <div class="col-md-12">
    <h4>Tabla: {{tasks['table']}}</h4>
        <!--   Boton consultar  -->
     {% if tasks['permissions'][0][0] == 1 %}
            <a href="/query/{{tasks['table']}}" class="btn btn-primary">Consultar</a>
            {% else %}
            <a  class="btn btn-primary"></a>
            {% endif %}
       <!--   Boton agregar  -->
                  {% if tasks['permissions'][0][0] == 1 %}
            <a href="/create/{{tasks['table']}}" class="btn btn-primary">Agregar</a>
            {% else %}
            <a  class="btn btn-primary"></a>
            {% endif %}
    <div class="row table-responsive">
        <!-- {% with messages = get_flashed_messages()  %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %} -->
        <div class="col-md-7">
            <table id="example" class="table table-striped table-hover table-bordered table-sm">
                <thead>
                <tr>
                    {% for i in tasks['columns'] %}
                        <th>{{i}}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for i in tasks['task'] %}
                    <tr>
                        {% for j in i %}
                            <td>{{j}}</td>
                        {% endfor %}
                        <td>
                            {% if tasks['permissions'][0][1] == 1 %}
                            <a href="/update/{{tasks['table']}}/{{i[0]}}" class="btn btn-secondary">edit</a>
                            {% else %}
                            <a class="btn btn-secondary"disabled>edit</a>
                            {% endif %}
                            
                            {% if tasks['permissions'][0][2] == 1 %}
                            <a href="/delete/{{tasks['table']}}/{{i[0]}}" class="btn btn-danger btn-delete">delete</a>
                            {% else %}
                            <a class="btn btn-danger"disabled>delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col-md-12 text-center">
                <ul class="pagination pagination-lg pager" id="developer_page"></ul>
            </div>
            {% if tasks['permissions'][0][0] == 1 %}
            <a href="/create/{{tasks['table']}}" class="btn btn-primary">+</a>
            {% else %}
            <a  class="btn btn-primary"disabled>+</a>
            {% endif %}
        </div>
    </div>
    </div>
    <script>
    $(document).ready(function() {
    $('#example').DataTable();
    console.log("Hola");
} );
    </script>

{% endblock %}
