
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Proyecto Topico</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{{url_for('static', filename='js/bower_components/bootstrap/dist/css/bootstrap.min.css')}}">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="{{url_for('static', filename='js/bower_components/font-awesome/css/font-awesome.min.css')}}">
    <!-- Ionicons -->

    <link rel="stylesheet" href="{{url_for('static', filename='js/bower_components/Ionicons/css/ionicons.min.css')}}">
    <!-- Theme style -->

    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='js/dist/css/AdminLTE.min.css')}}">

    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> -->




    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="starter.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>T</b>3</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Topico</b>3</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li><a href="/cerrar" type="button" class="btn btn-secundary"><span>Cerrar Sesion</span></a></li>
                <li class="header">Modulos</li>
                <!-- Optionally, you can add icons to the links -->
                <li>
                    <a  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-th"></i> <span>CSV</span>
                        <span class="pull-right-container"></span>
                    </a>
                </li>
                {% if tasks['user'] == 'Admin' %}
                    <li>
                        <a href="/indexRegistro">
                            <i class="fa fa-th"></i> <span>Registro</span>
                            <span class="pull-right-container">
            </span>
                        </a>
                    </li>
                {% endif %}
                <li class="header">Catalogo</li>
                {% for i in tasks['tables'] %}
                    <li>
                        <a href="/indexCRUD/{{i}}">
                            <i class="fa fa-th"></i> <span>{{i}}</span>
                            <span class="pull-right-container">
            </span>
                        </a>
                    </li>
                {% endfor %}

            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block titulo %}
                <h1>
                    Sistema Manejador de Base de Datos
                    <small></small>
                </h1>
                Creacion de reportes y manejo de CSV.
            {% endblock %}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">



            <div class="container-fluid">
                {% block body %}
                {% endblock %}
            </div>


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Importar archivo terminacion .CSV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/indexCSV/{{tasks['url']}}" name="url" method="post" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" id="url" name="url" class="form-control" placeholder="Ejemplo: C:\usuario\carpeta\archivo.csv">
                        <span class="input-group-btn">
                                    <a href="/indexCSV/{{tasks['url']}}"><input type="submit" class="btn btn-primary" value="Importar"></a>
                                </span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- ./wrapper -->

<script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

<script src="{{url_for('static', filename='js/bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/dist/js/adminlte.min.js')}}"></script>

</html>


