
{% extends "add_contact.html" %}
{% block titulo %}
<h1>
{% if tasks['type'] == 'update' %}
UPDATE
{% elseif %}
CREATE
{% elseif %}
QUERY
{% endif %}
</h1>
{% endblock %}
{% block body %}

  <div class="row">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    <div class="col-md-7">
        {% if tasks['type'] == 'update' %}
        <form action="/update/{{tasks['table']}}/{{tasks['task'][0][0]}}" method="post">
            {% for i in range(tasks['columns']|length) %}
            <label for="">{{tasks['columns'][i]}}</label><br>
            <input type="text" id="{{tasks['columns'][i]}}" name="{{tasks['columns'][i]}}" value="{{tasks['task'][0][i]}}"><br>
            {% endfor %}
            <br>
            <!-- <input type="submit" value="Submit"> -->
         <a href="/indexCRUD/{{tasks['table']}}"><input type="submit"  class="btn btn-primary" value="Actualizar"></a>
        </form>

        {% endif %}
        {% if tasks['type'] == 'create' %}
        <form action="/create/{{tasks['table']}}" method="post">
            {% for i in range(tasks['columns']|length) %}
            <label for="">{{tasks['columns'][i]}}</label><br>
            <input type="text" id="{{tasks['columns'][i]}}" name="{{tasks['columns'][i]}}"><br>
            {% endfor %}
            <br>
            <!-- <input type="submit" value="Submit"> -->
            <a href="/indexCRUD/{{tasks['table']}}"><input type="submit" class="btn btn-primary" value="Generar reporte."></a>
        </form>
        {% endif %}
    </div>
  </div>
</div>

{% endblock %}
