
{% extends "add_contact.html" %}
{% block titulo %}
<h1>
{% if tasks['type'] == 'update' %}
UPDATE
{% elif tasks['type'] == 'create' %}
CREATE
{% elif tasks['type'] == 'query' %}
QUERY
{% endif %}
</h1>
{% endblock %}
{% block body %}

  <div class="row">
    <div class="col-md-7">
        {% if tasks['type'] == 'update' %}
        <form action="/update/{{tasks['table']}}/{{tasks['task'][0][0]}}" method="post">
            
            {% if tasks['table'] == 'users' %}
            {% for i in range(tasks['columns'][0]|length) %}
            <label for="">{{tasks['columns'][0][i]}}</label><br>
            <input type="text" id="{{tasks['columns'][0][i]}}" name="{{tasks['columns'][0][i]}}" value="{{tasks['task'][0][i]}}"><br>
            {% endfor %}
            {% for j in range((tasks['columns'][1]|length)) %}
            <label for="">{{tasks['columns'][1][j]}}</label><br>
            <select name="{{tasks['columns'][1][j]}}" id="{{tasks['columns'][1][j]}}" >
              {% if  tasks['task'][1][j] == 1%}
                <option value="1" selected>Autorizado</option>
                <option value="0">No autorizado</option>
              {% else %}
                <option value="1" >Autorizado</option>
                <option value="0"selected>No autorizado</option>
              {% endif %}
              </select><br>
            {% endfor %}
          {% else %}
            {% for i in range((tasks['columns']|length)) %}
              <label for="">{{tasks['columns'][i]}}</label><br>
              <input type="text" id="{{tasks['columns'][i]}}" name="{{tasks['columns'][i]}}" value="{{tasks['task'][0][i]}}"><br>
            {% endfor %}
          {% endif %}
            <br>
            <!-- <input type="submit" value="Submit"> -->
         <a href="/indexCRUD/{{tasks['table']}}"><input type="submit"  class="btn btn-primary" value="Actualizar"></a>
        </form>

        {% endif %}
        {% if tasks['type'] == 'create' %}
        <form action="/create/{{tasks['table']}}" method="post">
          {% if tasks['table'] == 'users' %}
            {% for i in range((tasks['columns']|length)-3) %}
              <label for="">{{tasks['columns'][i]}}</label><br>
              <input type="text" id="{{tasks['columns'][i]}}" name="{{tasks['columns'][i]}}"><br>
            {% endfor %}
            {% for j in range(4,(tasks['columns']|length)) %}
            <label for="">{{tasks['columns'][j]}}</label><br>
            <select name="{{tasks['columns'][j]}}" id="{{tasks['columns'][j]}}">
                <option value="1">Autorizado</option>
                <option value="0">No autorizado</option>
              </select><br>
            {% endfor %}
          {% else %}
            {% for i in range((tasks['columns']|length)) %}
              <label for="">{{tasks['columns'][i]}}</label><br>
              <input type="text" id="{{tasks['columns'][i]}}" name="{{tasks['columns'][i]}}"><br>
              
            {% endfor %}
          {% endif %}
            <br>
            <!-- <input type="submit" value="Submit"> -->
            <a href="/indexCRUD/{{tasks['table']}}"><input type="submit" class="btn btn-primary" value="Actualizar"></a>
        </form>
        {% endif %}
            {% if tasks['type'] == 'query' %}
        <form action="/query/{{tasks['table']}}" method="post">
            {% for i in range(tasks['columns']|length) %}
            <label for="">{{tasks['columns'][i]}}</label><br>
            <input type="text" id="{{tasks['columns'][i]}}" name="{{tasks['columns'][i]}}"><br>
            {% endfor %}
            <br>
            <!-- <input type="submit" value="Submit"> -->
            <a href="/indexCRUD/{{tasks['table']}}"><input type="submit" class="btn btn-primary" value="Actualizar"></a>
        </form>

        {% endif %}
        {% with messages = get_flashed_messages()  %}
        {% if messages %}
        {% for message in messages %}
        <h4 style="color: red">{{message}}</h4>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
  </div>
</div>

{% endblock %}
